	*{
	margin:0;
	padding:0;
	font-family: tahoma;
	}
	body {
	overflow-x: hidden;
	}
	.clierfix::after{
	content:'';
	clear:both;
	display:block;
	}
	.background--header{
	display:block;
	background: url(../img/top-background.jpg) top center no-repeat;
	background-size: cover;
	}
	.logo{
	display: block;
	float:left;
	}
	.menu--header .menu__a:hover{
	border-bottom:2px solid #edbfff;
	}
	.wrapper{
	margin:0 auto;
	position:relative;
	}
	.background{
	position:relative;
	display:block;
	}
	.background--ahead .background__img{
	position: absolute;
	}
	.background--description{	
	background: linear-gradient(to bottom,#775385,#36293d);
	}
	.background--ahead{
	background-color: rgba(0,0,0,0.3);
	}
	.background--ahead::before,
	.background--ahead::after{
	background-image: url("../img/arrow.png");
	background-repeat: no-repeat;
	position:absolute;
	width:28px;
	height:38px;
	content:'';
	display:block;
	}
	.background--ahead::after{
	transform: rotate(180deg);
	}
	.article{
	float:left;
	}
	.article--description{
	position:relative;
	}
    .article--header .article__headline{
     color:#FFF;
     font-weight: bold;
	}
	.article--header .article__text--sliderSlogan{
     color:#edbfff;
     font-weight: bold;
	}
	.article--description .article__text{
	color:white;
	font-weight:100;
	}
	.article--description .article__headline{
	font-size: 20px;
	color:white;
	}
	.article--description::before{
	position:absolute;
	width:28px;
	height: 28px;
	background-image: url("../img/about-sprite.png");
	content:'';
	}
	.article--description:nth-of-type(2)::before{
	background-position: 28px 0px;
	}
	.article--description:nth-of-type(3)::before{
	background-position: 57px 0px;
	}
	.section__link {
	padding-right: 13px;
	padding-top: 20px;
	font-family: Tahoma,sans-serif;
	font-size: 12px;
	font-weight: bold;
	float: right;
	text-decoration: none;
	color: white;
	}
	.section__link:hover {
	text-decoration: underline;
	text-shadow: 1px 1px 2px white, 0 0 1em white;
	}
	.background--comment{
	background-color: #f9f9f9;
	}
	.article--pinguller::before{
	position:absolute;
	top:10px;
	left:-30px;
	width:52px;
	height: 53px;
	border-radius: 50%;
	background-image: url("../img/man.png");
	content:'';
	}
	.article--pinguller::after{
	position:absolute;
	width:89px;
	height: 23px;
	background-image: url("../img/pinguller_after.png");
	content:'';
	}
	.article__headline--pink{
	text-decoration: none;
	color:#edbfff;
	}
	.article--comment .article__update::before{
 	background-image: url("../img/balls.png");
 	background-position:0px 0px;
 	content:'';
 	position:absolute;
 	left:55px;
 	width:49px;
 	height:49px;
	}
	.article--comment{
	position: relative;
	}
	.article--comment .article__update:nth-child(2)::before{
	background-position:0px 50px;
	}
	.article--comment .article__update:nth-child(3)::before{
	background-position:0px 101px;
	}
	.background--logosBox{
	background-color: #f9f9f9;
	border-top:2px solid #eee;
	}
	.wrapper__item{
	background-image: url("../img/logos-sprite-.png");
	width:65px;
	height:65px;
	float: left;
	}
	.article__update{
	padding:20px;
	margin-left: 50px;
	}
	.wrapper__item:nth-child(1){
	}
	.wrapper__item:nth-child(2){
	background-position:-74px 0px;
	}
	.wrapper__item:nth-child(3){
	background-position:-143px 0px;
	}
	.wrapper__item:nth-child(4){
	background-position:-210px 0px;
	width:55px;
	}
	.wrapper__item:nth-child(5){
	background-position:-268px 0px;
	width:105px;
	}
	.wrapper__item:nth-child(6){
	background-position:-373px 0px;
	width:85px;
	}
	.background--news{
	background-color: #ececec;
	}
	.footer{
	background-image: url("../img/footer-background.jpg");
	}
	.menu{
	display:block;
	list-style:none;
	}
	.copyrights__span{
	color:#fff;
	}
	.copyrights__a{
	color:#fff;
	font-weight: bold;
	text-decoration: none;
	}
	.main__link {
	float: right;
	font-family: "League Gothic Regular", Tahoma,sans-serif;
	font-size: 14px;
	color: #454545;
	text-decoration: none;
	margin-top: 23px;
	padding-right: 22px;
	}
	.main__link:hover {
	text-shadow: 1px 1px 2px #454545, 0 0 1em #454545;
	}
						/*-- 479px --*/   /*max-width: 320px*/
	@media (max-width: 479px){	
	.wrapper {
	padding-left: 70px;
    padding-top: 30px;
	/*  width: 100%; */
	width:280px;
    display: block;
    text-align: center;
    position: relative;
	}
	.menu-list {
    padding: 34px 10px 0;
    }
	.menu-item {
    display: none;
	}
	.menu-item480 {
    display: block;
    position: relative;
	padding-left:50px;
	list-style: none;
	}
	.menu-item480 .menu-list {
    float: none;
    z-index: 33;
	}
	.menu-item480 .menu-list ul{
    display: none;
    position: absolute;
    background-color: rgba(38, 52, 62, 0.9);
    border-radius: 15px;
    left: 50%;     
    margin-left: -123px;
    top: 20px;
    width: 245px;
    text-align: center;
    z-index: 22;
	}
	.menu-item480 .menu-list ul li:first-child{
    padding-top: 14px;
	border-bottom:2px solid #edbfff;
	}
	.menu-item480 .menu-list ul li{
	display: block;
	text-align: center;
	font-size: 24px;
	margin-top: 1px;
	padding-top: 5px;
	padding-bottom: 10px;
	}
	.menu-list a:hover{
	text-decoration: none;
	}
	.menu-item480 .menu-list:hover ul{
	display: block;
	margin-left: -55px;
	margin-top: -2px;
	border-bottom: 2px solid #edbfff;
	}
	.menu-item480 ul .menu-list:hover{
    background-color: rgba(38, 52, 62, 1);
	/*  -border-radius: 15px;  */
    border-bottom: 2px solid #edbfff;
    text-decoration:none;
	}
    .menu-item480 .menu-list ul li:first-child:hover{
    border-radius: 15px 15px 0 0;
    }
    .menu-item480 .menu-list ul li:last-child:hover{
    border-radius: 0 0 15px 15px;
	border-bottom:2px solid #edbfff;
    }
    .menu-list-ferst:hover{
    font-size: 0;
    }
	.footer{
	height:200px;
	}
	.menu--footer{
	display: block;
    width: 68px;
	}
	.copyrights{
	margin-top:20px;
	float:right;
	margin-right: 15px;
	width:190px;
	margin: 40px auto 0px auto;
	}
	.menu-list{
    float: left;
    list-style: none;
	}
	.menu-list a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
	/* border-bottom: 2px solid #edbfff; */
	}
	.menu-list a:hover{
	border-bottom: 2px solid #edbfff;
	}	
	/* @media(max-width: 479px) */	
	.background--header{
	height:556px;
	}
	.menu, 
	.menu__li,
	.menu__a,
	.background--ahead .background__img:first-of-type{
	margin:9px;
	padding:0;
	width:0px;
	height:0px;
	font-size:0;
	}
	.background--ahead{
	margin-top: 292px;
	height:70px;
	background-color: transparent;
	}
	.wrapper--ahead{
	height:70px;
	}
	.article--header{
	margin:20px 0px  0px -20px;
	width:330px;
	}
	.article--header .article__headline{
	font-size: 18px;
	text-align: center;
	}
	.article--header .article__text--sliderSlogan{
	font-size: 10px;
	text-align: center;
	}
	.article--header .article__text:last-of-type{
	font-size:0;
	}
	.background--ahead .background__img:last-of-type{
	bottom:-100px;              
	right:30%;
	}
	.background--description{
	height:665px;
	}
	.article--description{
	width:220px;
	margin:20px 0px  30px 6%;
	}
	.article--description::before{
	left:-20%;
	top:5px;
	}
	.article--description .article__headline{
	font-size: 14px;
	}
	.article--description .article__text{
	font-size: 12px;
	}
	.logo{
 	position:absolute;
	top:70px;
    left:28%;
	}
	.background--ahead::before{
	top:15px;
	left:4%;   
	z-index: 1;             
	}
	.background--ahead::after{
	top:15px;
	right: 4%;
	z-index: 1; 
	}
	.background--comment{
	height:785px;
	}
	.article--pinguller{
	position: relative;
	background-color: #fff;
	height: 272px;
	margin-top: 72px;
	width:260px;
	padding:20px;
    line-height: 22px;
	}
	.article--pinguller::after{
	left:170px;
	bottom:-30px;
	}
	.article--pinguller .article__text{
    font-size: 14px;
	}
	.article--pingullerg .article__headline{
    font-size: 12px;
	}
	.article--comment{
	margin-top: 40px;
	margin-right: 12%;
	width:300px;
	height:272px;
    }
	.article--comment .article__update::before{
 	left:0px;
	}
	.article--comment .article__text{
    font-size: 14px;
	}
	.article--comment .article__headline{
    font-size: 12px;
	}
	.wrapper--logosBox{
	width: 240px;
	margin-right: 20%;
	}
	.wrapper__item{
	margin: 20px;
	}
	.wrapper__item:last-child{
	margin-left:-20px;
	}
	.background--news,
	.article--news,
	.article__logo
	{
    margin:0;
	padding:0;
	width:0px;
	height:0px;
	}
	.article--news .article__text,
	.article--news .article__headline {
	font-size: 0px;
	}
	}
													/*-- 768px --*/
		@media(min-width: 480px)  and (max-width: 767px){	
    .menu-list {
    padding: 34px 10px 0;
    }
	.menu-item480 {
    display: block;
    position: absolute;
	padding-left:50px;
	list-style: none;
	}
	.menu-item480 .menu-list {
    float: none;
    z-index: 33;
	}
	.menu-item480 .menu-list ul{
    display: none;
    position: absolute;
    background-color: rgba(38, 52, 62, 0.9);
    border-radius: 15px;
    left: 50%;     
    margin-left: -123px;
    top: 20px;
    width: 245px;
    text-align: center;
    z-index: 22;
	}
	.menu-item480 .menu-list ul li:first-child{
    padding-top: 10px;
	border-bottom: 2px solid #edbfff;
	}
	.menu-item480 .menu-list ul li{
	display: block;
	text-align: center;
	font-size: 24px;
	margin-top: 1px;
	padding-top: 5px;
	padding-bottom: 10px;
	}
	.menu-list a:hover{
	text-decoration: none;
	}
	.menu-item480 .menu-list:hover ul{
	display: block;
	margin-left: -98px;
	margin-top: 3px;
	border-bottom: 1px solid #edbfff;
	}
	.menu-item480 ul .menu-list:hover{
    background-color: rgba(38, 52, 62, 1);
	border-radius: 15px; 
    /* border-bottom: 2px solid #edbfff; */
    text-decoration:none;
	}
    .menu-item480 .menu-list ul li:first-child:hover{
    border-radius: 15px 15px 0 0;
    }
    .menu-item480 .menu-list ul li:last-child:hover{
    border-radius: 0 0 15px 15px;
	border-bottom:2px solid #edbfff;
    }
    .menu-list-ferst:hover{
    font-size: 0;
    }
	.copyrights{
	margin-top:20px;
	float:right;
	margin-right: 15px;
	width:190px;
	margin: 40px auto 0px auto;
	}
	.menu-list{
    float: left;
    list-style: none;
	}
	.menu-list a{
	/* position: absolute; */
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
	/* margin-bottom: 200px; */
	/* border-bottom: 2px solid #edbfff; */
	}
	.menu-list a:hover{
	border-bottom: 2px solid #edbfff;
	}	
		/* .wrapper {
	padding-left: 70px;
    padding-top: 30px;
	width:280px;
    display: block;
    text-align: center;
    position: relative;
	} */
		
		.wrapper{
		width:420px;
		padding:0px 20px;
		}
		.wrapper--description{
		width:370px;
		}
		.wrapper--header{
		padding-top: 70px;
		height: 133px;
		}
		.background--header{
		height:549px;
					/*	background-size: 2400px 549px;*/
		border-bottom:1px solid #550055;
		}
		.background--ahead .background__img:first-of-type{
		top:-65px;
		right:31px;
		transform:scale(0.7);
		}
		.background--ahead .background__img:last-of-type{
		bottom:-300px;              
		right:40%;
		}
		.background--ahead::before{
		top:120px;
		left:4%;                
		}
		.background--ahead::after{
		top:120px;
		right: 4%;
		}
		.background--ahead{
		height:246px; 
		}
		.logo{
	 	position:absolute;
        top:70px;
        left:32%;
		}
		.menu--footer {
		display:block;
		float:left;
		font-size: 14px;
		width:440px;
	    margin-top:50px;
	    margin-bottom:30px;
		}
		.menu--footer .menu__li{
		float:left;
		display:block;
		margin-left:1%;
		margin-right:1%;
		}
		.menu--footer .menu__a{
		color:white;
		text-decoration: none;
		}
		.menu--header{
        position:absolute;
        top:85px;
        left:28%;
        z-index:2;
        border-radius: 10px;
        background-color: rgba(49,37,56,0.8);
        border:1px solid #444;
		}
		.menu--header .menu__li{
	    width:245px;
        height:12px;
		display:none;
		padding:12px 0px 20px 0px;
		text-align: center;
		border-bottom:1px solid #36293e;
 		border-bottom:1px solid #523e5a;
		}
		.menu--header .menu__a {
		color:white;
		text-decoration: none;
		}
		.background--description{
		height:596px;
		}
		.article{
		width:300px;
		height:80px;
		}
		.article--description{
        width:370px;
        margin: 45px auto;
		}
		.article--description::before{
		left:-12%;
		top:5px;
	    }
   		.article--description::after{
		bottom:-70px;
		right:14px;
		}
		.article--header{
		width:215px;
		}
		.article--header  .article__headline{
		font-size:24px;
		}
		.article--header .article__text{
        font-size:0px;
		}
		.article--header .article__text--sliderSlogan{
	    font-size:14px;
		}
		.background--comment{
        height:788px;
	    }
		.article--pinguller{
		position: relative;
		background-color: #fff;
		height: 232px;
		margin-top: 72px;
		width:360px;
		padding:20px;
	    line-height: 22px;
		}
		.article--pinguller::after{
		left:170px;
		bottom:-30px;
		}
		.article--comment{
		margin-top: 30px;
	    padding:40px 60px;
	    width:320px;
		height:272px;
	    }
		.wrapper--logosBox{
		width:370px;
		}
        .wrapper__item{
		margin:25px;
		}
		.wrapper__item:last-child{
		margin-left:-20px;
		}
		.background--news{
	    height:668px;
		}
		.article--news{
		width:430px;
		}
		.article--news:first-of-type .article__logo{
		padding:0;
		margin:0;
	    width:0px;
	    height:0px;
		}
		.article--news:first-of-type .article__text--copyright{
	    font-size: 0px;
	    width:0px;
	    height:0px;
	    padding:0;
		margin:0;
		}
		.article--news:first-of-type  .article__text{
	    margin-top: -10px;            
		}
		.article--news{
		margin-top:103px; 
		}	
		.footer{
		height:201px;
		}
		.menu--footer .menu__a:hover{
		border-bottom:2px solid #edbfff;
		}
		.copyrights{
		width:190px;
		margin:0px auto 0px auto;
		}
		}
												/*-- 768px --*/
	@media (min-width: 768px) and (max-width: 959px){
	.menu-item480{
    display: none;
	}		
	.header{
	height:320px;
	}
	.wrapper{
	width:768px;
	}
	.background--description{
	height:340px;
	}
	.background--header{
	height:798px;
	/*background-size: 2400px 798px;*/
	}
	.logo{
	margin-left:10px;
	}
	.article{
	width:150px;
	height:150px;
	}
	.menu--header{
	display:block;
	float:left;
	font-size: 18px;
	min-width:768px;
	margin-top:30px;
	}
	.menu__li{
	float:left;
	display:block;
	margin-left:1.5%;
	margin-right:1.5%;
	}
	.menu__a{
	color:white;
	text-decoration: none;
	}
	.wrapper--header{
	padding-top:70px;
	height:174px;
	}
	.article--header{
    position:absolute;
	width:270px;
    top:70px;
    margin-left: 7%;
    }
    .article--header .article__headline{
    font-size: 25px;
	}
    .article--header .article__text{
    font-size: 15px;
    color:#fff;
    }
    .article__text--sliderSlogan{
    font-size: 20px;
	}
	.background--ahead .background__img:first-of-type{
	top:-20px;
	right:15%;
    }
	.background--ahead .background__img:last-of-type{
	bottom:-450px;              
	right:20%;
	}
	.background--ahead{
	height:400px;  /*padding-top:244px;*/
	}
	.background--ahead::before{
	top:186px;
	left:4%;                
	}
	.background--ahead::after{
	top:186px;
	right: 4%;
	}
	.article__headline{
	font-size:14px;
	}
	.article__text{
	font-size:12px;
	}
	.article--description{
	width:155px;
	margin:78px 45px 0px 45px;
	}
	.article--description::before{
	left:-20%;
	top:5px;
    }
    .article--description .article__headline{
    font-size:13px;
    }
	.background--comment{
	padding-top:102px;
    height: 485px;
	}
	.article--pinguller{
	background-color: #fff;
	height:272px;
	width: 43%;
	padding:20px;
	line-height: 22px;
	margin-left: 50px;
	}
	.article--pinguller::after{
	left:170px;
	bottom:-30px;
	}
	.article--pinguller::before{
	margin-left: 50px;
	}
	.article__headline--pink{
    display:block;
	}
	.article__text{
	}
	.article__update{
	width:100%;
	/*padding:15px 20px;*/
	}
	.article__update .article__headline--comment{
	font-size:13px;
	}
	.article--comment{
    padding:40px 60px;
    width:210px;
	height:272px;
    }
	.background--logosBox{
	height: 121px;
	}
	.wrapper__item{
  	margin:20px 25px;
  	}
	.background--news{
    height:396px;
	}
	.article--news:first-of-type .article__logo{
	padding:0;
	margin:0;
    width:0px;
    height:0px;
	}
	.article--news:first-of-type .article__text--copyright{
    font-size: 0px;
    width:0px;
    height:0px;
    padding:0;
	margin:0;
	}
	.article--news:first-of-type  .article__text{
    margin-top: -10px;                 
	}
	.article--news{
	margin:103px 33px 0px 33px; 
    width:190px;
	}	
	.footer{
	height:151px;
	}
	.menu--footer{
	padding-top: 20px;
	display:block;
    width: 768px;
	}
	.menu--footer .menu__a:hover{
	border-bottom:2px solid #edbfff;
	}
	.copyrights{
	margin-top:20px;
	float:right;
	margin-right: 15px
	}
	}
											/*-- 960px --*/
	@media (min-width:  960px){
	.menu-item480{
    display: none;
	}
	.background--header{
	height:846px;
    background-image: url("../img/background--header_960px.jpg");
    /*background-size: 2400px 846px;*/
	}
	.wrapper--header{
	padding-top:70px;
	height:208px
	}
	.background--ahead{
	height:400px;
	position: relative;
    }
    .menu--header{
	margin-left: 150px;
	float:left;
	width: 650px;
	font-size: 18px;
	}
	.menu__li{
	float:left;
	display:block;
	margin-left:1.5%;
	margin-right:1.5%;
	}
	.menu__a{
	color:white;
	text-decoration: none;
	}
    .article--header{
    position:absolute;
    top:83px;
    width:505px;
    }
    .article--header .article__headline{
    font-size: 35px;
	}
    .article__text--sliderSlogan{
     font-size: 25px;
	}
    .article--header .article__text{
    font-size: 20px;
	}
    .background--ahead .background__img:first-of-type{
	top:-20px;
	right:15%;
    }
   .background--ahead .background__img:last-of-type{
	bottom:-450px;   
	right:50%;
	}
   .background--ahead::before{
	top:186px;
	left:4%;                
	}
	.background--ahead::after{
	top:186px;
	right: 4%;
	}
	.background--description{
	padding-top:77px;
	height:266px;
	}
	.article--header{
	width:502px;
	color:#fff;
	margin-left: 7%;
	}
	.article--description{
	width:250px;
	margin:0px 30px;
    }
    .article--description::before{
	left:-15%;
	top:5px;
    }
	.article__headline{
	font-size:16px;
	}
	.article__text{
	font-size:14px;
	}
	.background--comment{
	padding-top:102px;
     height:507px;
	}
	.article--pinguller{
	background-image: url("../img/wBox_960px.png");
	padding:20px;
	width:360px;
	height:252px;
	line-height: 22px;
	margin-left: 50px;
    }
    .article--pinguller::before{
	margin-left: 50px;
	}
    .article--pinguller .article__headline{
	font-size: 18px;
	font-weight: bold;
     }
    .article--comment{
    padding:20px 60px;
    width:380px;
	height:234px;
    }
	.article--pinguller::after{
	left:170px;
	bottom:-30px;
	}
	.background--news{
    height:396px;
	}
	.wrapper{
	width:960px;
	}
	.background--logosBox .wrapper__item{
  	margin:20px 30px;
	}
	.background--logosBox{
	height: 121px;
	}
	.article--news{
	padding:97px 53px 97px 0px;
    width:260px;
	}
	.article--news:first-of-type .article__headline{
    font-size: 0px;
	}
	.article__text--copyright{
	font-style: italic;
	color:#c5c5c5;
	}
	.footer{
	padding-top:40px;
	height:94px;
	}
	.menu--footer{
     width:600px;
	}
	.menu__a{
	font-size: 16px;
	}
	.menu--footer .menu__a:hover{
	border-bottom:2px solid #edbfff;
	}
	.copyrights{
	margin-top:-15px;
	margin-left:77%;
    }
	}